# 1. Pass statment:
* pass statment us used when defining function classes or code blocks that are not yet implemented

In [49]:
def my_func(n):
    pass

In [50]:
# 2 . substracting 1 from each element 

num = [2,3,4,5,6,7]
result = [i-1 for i in num]

print(result)

[1, 2, 3, 4, 5, 6]

In [51]:
# odd number between 0 to 100

odd_num = [i for i in range(101) if i%2!=0]
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [52]:
odd_num = []

for i in range(101):
    if (i%2 != 0):
        odd_num.append(i)

print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [53]:
lst = [1,2,3,4,5,6,7,5,1,2,3,4,5,23,1,2,4,5,3,1]

unique = list(set(lst))
unique

[1, 2, 3, 4, 5, 6, 7, 23]

In [54]:
def my_func():
    print(my_func.data['what'])

my_func.data = {'what':'in the world'}
my_func()

in the world

In [55]:
# bitwise XOR

num = [1,2,3,4,5]

result = [bin(i)[2:] for i in num]
print(result)

['1', '10', '11', '100', '101']

In [56]:
# Swapping

a = 10
b = 15

a,b = b , a

print("a",a)
print("b",b)

a 15
b 10

In [57]:
# string modification

str1 = "shubham"
str2 = " gadhave"

upper_w = str1.upper()
lower_w = str1.lower()


print(upper_w,lower_w)

result = str1+str2

print(result)



sen = "    hey its shubham"

sen = sen.replace("hey","hello")

print(sen)

SHUBHAM shubham
shubham gadhave
    hello its shubham

In [58]:
#strip   # remove front and back blank spaces

str_sen = sen.strip()

print(str_sen)

hello its shubham

In [59]:
for i in range(1,11):
    print(f"5*{i} = {5*i}")

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [60]:
for i in range(1,11):
    print(f"7*{i}={7*i}")

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [61]:
import os

directory_path = '.'

# Get the list of all entries in the directory
entries = os.listdir(directory_path)

# Filter and print only files
for entry in entries:
    if os.path.isfile(os.path.join(directory_path, entry)):
        print(entry)

1-10.ipynb
file.pkl

In [62]:
import os 
directory_path = "." ## path define 

entries = os.listdir(directory_path)  # list of all entries in the dictionary 

#filter and only print the files 
for entry in entries:
    if os.path.isfile(os.path.join(directory_path,entry)):
        print(entry)

1-10.ipynb
file.pkl

In [63]:
import os 

directory_path = '.'

entries= os.listdir(directory_path)

print(entries)

['1-10.ipynb', 'file.pkl']

In [64]:
a  = 5
b = 5.5
c = "ram"
d = True

print(f"a = {type(a)},\nb = {type(b)},\nc = {type(c)},\nd = {type(d)}\n")

a = <class 'int'>,
b = <class 'float'>,
c = <class 'str'>,
d = <class 'bool'>

In [65]:
# remender 

a = int(input("enter a number"))

remender = (a%2)

print(remender)

1

In [66]:
a = input(a)

print(f"{a} is a {type(a)}")

5 is a <class 'str'>

In [67]:
user_input = input("Enter something: ")

# Check the data type of the input
input_type = type(user_input)

print(f"You entered '{user_input}' which is of type: {input_type}")

You entered '5' which is of type: <class 'str'>

In [68]:
# loops execute block of code fix number of times. it can iterate over a range string and sqeunce 

# count to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [69]:
for i in reversed(range(1,11)):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [70]:
## we can ad  steps in loop

for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [71]:
credit = '123-456-789'

for i in credit:
    print(i)

1
2
3
-
4
5
6
-
7
8
9

In [72]:
## while loop

for x in range(1,21):
    
    if x==13:
        continue
    
    else:
        print(x)

1
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20

In [73]:
colunt = 5

while(colunt>0):
    print(colunt)
    
    colunt = colunt -1

5
4
3
2
1

In [74]:
i = 0


while(i<3):
    print(i)
    i = i + 1

0
1
2

In [75]:
i = 1
while(i<=12):
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12

In [76]:
lst = [1,2,5,6,4,9,10]
print(lst.sort())

None

In [77]:
lst.append(5)

In [78]:
l = [3,5,6]
print(l)

[3, 5, 6]

In [79]:
print(type(l))

<class 'list'>

In [80]:
marks = [35,12,68]
print(marks)

[35, 12, 68]

In [81]:
if 12 in marks:
    print("fail")
    
else:
    print("ur pass in all subs")

fail

In [82]:
## list manipulation

l

[3, 5, 6]

In [83]:
l.append(7)

In [84]:
l

[3, 5, 6, 7]

In [85]:
l

[3, 5, 6, 7]

In [86]:
l.sort()
print(l)

[3, 5, 6, 7]

In [87]:
l.sort(reverse=True)
print(l)

[7, 6, 5, 3]

In [88]:
print(l.index(7))

0

In [89]:
print(l.count(1))

0

In [90]:
l.pop()

3

In [91]:
l

[7, 6, 5]

In [92]:
l

[7, 6, 5]

In [93]:
m = l.copy()
m[0] = 0
print(m)

[0, 6, 5]

In [94]:
l.index(6)

1

In [95]:
l.insert(1,7)
print(l)

[7, 7, 6, 5]

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [96]:
## Function
# function is a block of code that perform specific task whenever it calls

In [97]:
a = 9
b = 8 
gmean = (a*b)/(a+b)
print(gmean)

4.235294117647059

In [98]:
def cal_gmean(a,b):
    gmean = (a*b)/(a+b)
    print(gmean)

In [99]:
cal_gmean(9,8)

4.235294117647059

In [100]:
def is_odd(num):
    if num%2 != 0:
        print(f"{num} is odd number")
        
    else:
        print(f"{num} is even number")

In [101]:
is_odd(5)

5 is odd number

In [102]:
def is_great(a,b):
    if a > b:
        print(f"{a} is greater")
        
    else:
        print(f"{b} is greater")

In [103]:
is_great(9,8)

9 is greater

In [104]:
## linear search 
arr = [5,8,4,6,9,2]

def search(arr,target):
    for i in arr:
        if i == target:
            print(f"{target} is in {arr.index(i)} location")
        else:
            print(f"{target} is not in the list")

In [105]:
search(arr,9)

9 is not in the list
9 is not in the list
9 is not in the list
9 is not in the list
9 is in 4 location
9 is not in the list

In [106]:
## linear search 
arr = [5,8,4,6,9,2]

def search(arr,target):
    for i in range(len(arr)):
        if arr[i] == target:
            print(f"{target} is at {i} location")
            return
    print("{target} is not in list")

In [107]:
search(arr,9)

9 is at 4 location

In [108]:
# checking if the list is empty

lst = [1]

def is_empty(lst):
    if len(lst) == 0:
        print("lst is empty")
        
    else:
        print("lst is not empty")

In [109]:
is_empty(lst)

lst is not empty

In [110]:
## decorators 
def greet(fx):
    def mfx(*args, **kwargs):
        print("good morning")
        fx(*args, **kwargs)
        print("thanks for using this function")
    return mfx

@greet
def total(a,b):
    print(f"{a+b} this is total of given number")

In [111]:
total(5,2)

good morning
7 this is total of given number
thanks for using this function

In [112]:
def welcome(fx):
    def home(*args, **kwargs):
        print("thanks for coming")
        fx(*args, **kwargs)
        print("come again")
    return home

@welcome
def hey_man(name):
    print(f"{name} hey how are you ,have a seat")

In [113]:
hey_man('shubham')

thanks for coming
shubham hey how are you ,have a seat
come again

In [114]:
## lambda function
double = lambda x: x*2

In [115]:
double(5)

10

In [116]:
multi = lambda x , y : x*y

In [117]:
multi(5,2)

10

--------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [118]:
#sorting with lambda

stud = [('shubham', 50),('ram',55),('sham',12)]

In [119]:
stud.sort(key=lambda stud:stud[1])

In [120]:
print(stud)

[('sham', 12), ('shubham', 50), ('ram', 55)]

--------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [121]:
num = [5,8,7,9,5,3,1,5,4,6,8,12,25,3]

even = list(filter(lambda num: num%2 == 0, num))

print(even)

[8, 4, 6, 8, 12]

In [122]:
odd = list(filter(lambda num: num%2 != 0,num))
print(odd)

[5, 7, 9, 5, 3, 1, 5, 25, 3]

------------------------------------------------------------------------------------------------------------------------------------------

In [123]:
num

[5, 8, 7, 9, 5, 3, 1, 5, 4, 6, 8, 12, 25, 3]

In [124]:
sort_num = set(num)
print(sort_num)

{1, 3, 4, 5, 6, 7, 8, 9, 12, 25}

In [125]:
## python fetures in 3.9
# built in modules in python


import math 
print(math.sqrt(25))

5.0

In [126]:
def num(num):
    num = num + 5667
    print(num)
    
num(5322)

10989

In [127]:
import random
lst = [5,6,7,1,23,4,5,96,3,12,4,5]
random_element = random.sample(lst,1)

print(random_element)

[7]

In [128]:
# iterator 

class counter:
    def __init__(self,start,end):
        self.current = start
        self.end = end
        
        
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.current <= self.end:
            value = self.current
            self.current +=1
            return value
        
        else:
            raise StopIteration
        
        
counter = counter(1,9)
for num in counter:
    print(num)

1
2
3
4
5
6
7
8
9

In [129]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [130]:
import random
num = random.randint(1,500) # between 1-5
print(num)

352

In [131]:
## and and or logic bassically its same as 

x = True
y = False

result = x and y

print(result)

False

In [132]:
## and and or logic

x = True
y = False

result = x or y

print(result)

True

In [133]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
        print(f"{name} is {age} years old ")

In [134]:
person("shubham",25)

shubham is 25 years old

In [135]:
lst = [1,2,3,4,5,6,1,2,3,4]

In [136]:
lst.insert(3,5)  # index then number

In [137]:
lst

[1, 2, 3, 5, 4, 5, 6, 1, 2, 3, 4]

In [138]:
lst.reverse()
print(lst)

[4, 3, 2, 1, 6, 5, 4, 5, 3, 2, 1]

In [139]:
lst_unique = list(set(lst))
print(lst_unique)

[1, 2, 3, 4, 5, 6]

In [140]:
## returning multiple values from python function 

def muti_val():
    return 1,2,3,4

rs = muti_val()
print(rs)

(1, 2, 3, 4)

In [141]:
## switch case

def switch(case):
    if case == 'option 1':
        print(3*3)
        
    elif case == ' option 2':
        print(5*5)
        
    else:
        print("not valid option")

In [142]:
switch('option 1')

9

In [143]:
names = {1:'shubham',2:'papa',3:'aai'}

In [144]:
names[1]

'shubham'

In [145]:
print(names.items())

dict_items([(1, 'shubham'), (2, 'papa'), (3, 'aai')])

In [146]:
for key , value in names.items():
    print(f"roll no is {key} and name is {value}")

roll no is 1 and name is shubham
roll no is 2 and name is papa
roll no is 3 and name is aai

In [147]:
nums = range(1,10)
print(nums)

range(1, 10)

In [148]:
lst = []
for i in range(1,11):
    lst.append(i)
    
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [149]:
## decorator

def welcome(fx):
    def home(*args, **kwargs):
        print("thanks for coming")
        fx(*args, **kwargs)
        print("come again")
    return home

In [150]:
def welcome(fx):
    def new(*args,**kwargs):
        print("hey welcome")
        fx(*args,**kwargs)
        print("see you again")
        
    return new

In [151]:
@welcome
def sum(nums):
    rs = nums*2
    print(rs)
    
sum(5)

hey welcome
10
see you again

In [152]:
## picking and unpickling

import seaborn as sns
import pickle as pkl

df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [153]:
## serialize function

filename = 'file.pkl'

pkl.dump(df,open(filename,'wb'))

In [154]:
##unserialiaze

df = pkl.load(open(filename,'rb'))

In [155]:
type(df)

pandas.core.frame.DataFrame

In [156]:
names

{1: 'shubham', 2: 'papa', 3: 'aai'}

In [158]:
fname = 'test.pkl'

pkl.dump(names,open(fname,'wb'))

In [159]:
pkl.load(open('test.pkl','rb'))

{1: 'shubham', 2: 'papa', 3: 'aai'}

In [162]:
x = [1,2,3]

y = x

print(y)

[1, 2, 3]

In [163]:
def is_alnum(string):
    if type(string) == str:
        print("is alfanum")
        
    elif type(string) == int:
        print("is alfanum")
        
    else:
        print(f"{string} in not alphnumeric")

In [164]:
is_alnum("shubham")

is alfanum

In [165]:
is_alnum(5)

is alfanum

In [167]:
is_alnum(0.5)

0.5 in not alphnumeric

In [169]:
txt = 'hey its shubham'

words = txt.split()
print(words)

['hey', 'its', 'shubham']

In [172]:
import copy
lst = [1,2,3,4,5]

new_lst = copy.copy(lst)

print(new_lst)

[1, 2, 3, 4, 5]

In [12]:
list = []
list.append(1)
list.append(2)
list.insert(1,3)

In [13]:
list

[1, 3, 2]

In [14]:
list.sort()

In [15]:
list.reverse()

In [ ]:
if __name__ == '__main__':
    n = int(input())
    lst = []
    
    for i in range(n):
        command =

In [10]:
import numpy as np

print(np.zeros(3, np.int,np.int))

/tmp/ipykernel_297840/3533135140.py:3: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  print(np.zeros(3, np.int,np.int))

TypeError: order must be str, not type

In [1]:
df.head()

NameError: name 'df' is not defined